body {
    background-color: rgb(0, 109, 235);
    color: #000;
}

.app {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo-form {
    margin-bottom: 10px;
}

h1 {
    font-weight: 200;
}

.todo-form input {
    font-size: 16px;
    padding: 8px;
    border: solid 0.5px #3396ff;
    border-radius: 10px;
    background-color: transparent;
    height: 26px;
    width: 320px;
    margin: 5px;
    color: black;
    font-family: Georgia;
    transition: border-color 0.3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-form input:focus {
    outline: none;
    border-color: #4c82c0;
}

.todo-form button {
    background-color: #3396ff;
    font-size: 17px;
    height: 40px;
    color: #fff;
    border: none;
    width: 50px;
    border-radius: 12px;
    padding: 5px;
}

.todo-form button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 6px #000;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    background-color: #E6E6E6;
}

.todo-list li:hover {
    cursor: pointer;
}

.todo-list li button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.todo-list li button:hover {
    background-color: red;
    cursor: pointer;
}

.todo-list li button.red {
    background-color: red;
}

.todo-form .btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.todo-form .btn:hover {
    background-color: red;
    cursor: pointer;
}